%ul.list-unstyled
  %li.media
    %a.d-flex{href: "${1:#}"}
      %img{alt: "$3", src: "$2"}/
    .media-body
      %h5 ${4:Media heading}
      ${5:Media text}
  %li.media
    %a.d-flex{href: "${6:#}"}
      %img{alt: "$8", src: "$7"}/
    .media-body
      %h5 ${9:Media heading}
      ${10:Media text}
  %li.media
    %a.d-flex{href: "${11:#}"}
      %img{alt: "$13", src: "$12"}/
    .media-body
      %h5 ${14:Media heading}
      ${15:Media text}
