.btn-group{"aria-label": "$2", role: "group"}
  %button.btn{class: "btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|", type: "button"} $3
  %button.btn{class: "btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|", type: "button"} $4
  %button.btn{class: "btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|", type: "button"} $5
