.form-group
  %label{for: "$3"} $1
  %input.form-control{"aria-describedby": "${4:emailHelpId}", id: "$3", name: "$3", placeholder: "$2", type: "email"}/
  %small.form-text.text-muted{id: "${4:emailHelpId}"} ${5:Help text}
