.container
  %form
    .form-group.row
      %label.col-form-label{class: 'col-sm-${2:1-12}', for: '${6:inputName}'} $1
      %div{class: 'col-sm-${3:1-12}'}
        %input.form-control{id: '${6:inputName}', name: '${6:inputName}', placeholder: '$4', type: '${5:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
    %fieldset.form-group.row
      %legend.col-form-legend{class: 'col-sm-${8:1-12}'} ${7:Group name}
      %div{class: 'col-sm-${10:1-12}'}
        $9
    .form-group.row
      %div{class: '${11:offset-sm-2 col-sm-10}'}
        %button.btn.btn-primary{type: '${13:submit}'} ${12:Action}
