.form-group
  %label.sr-only{for: '${4:inputName}'} ${1:Hidden input label}
  %input.form-control{id: '${4:inputName}', name: '${4:inputName}', placeholder: '$2', type: '${3:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
