.form-group
  %label{for: '$3'} $1
  %input.form-control{'aria-describedby': '${4:helpId}', id: '$3', name: '$3', placeholder: '$2', type: 'text'}/
  %small.form-text.text-muted{id: '${4:helpId}'} ${5:Help text}
