.form-group
  %label{for: '$5'} $1
  %input.form-control{'aria-describedby': '${6:helpId}', class: 'form-control-${4:sm|lg}', id: '$5', name: '$5', placeholder: '$2', type: '${3:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
  %small.form-text.text-muted{id: '${6:helpId}'} ${7:Help text}
