.form-group
  %label{for: "$2"} $1
  %select.custom-select{id: "$2", name: "$2"}
    %option{selected: "selected"} ${3:Select one}
    %option{value: "$4"} $5
    %option{value: "$6"} $7
    %option{value: "$8"} $9
