%label{for: "${2:inputName}"} ${1:Input label}
%input.form-control{class: "${3:is-valid|is-invalid}", id: "${2:inputName}", name: "${2:inputName}", type: "text"}/
.invalid-feedback
  ${4:Validation message}
/ TODO: This is for server side, there is another version for browser defaults
