.btn-group{'aria-label': '$1', role: 'group'}
  %input.btn-check{autocomplete: 'off', id: '${2:btnradio}1', name: '${2:btnradio}', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btnradio}1'} radio 1

  %input.btn-check{autocomplete: 'off', id: '${2:btnradio}2', name: '${2:btnradio}', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btnradio}2'} radio 2

  %input.btn-check{autocomplete: 'off', id: '${2:btnradio}3', name: '${2:btnradio}', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btnradio}3'} radio 3
