<div class="btn-group" role="group" aria-label="$1">
  <input type="radio" class="btn-check" id="${2:btnradio}1" name="${2:btnradio}" autocomplete="off">
  <label class="btn btn-outline-primary" for="${2:btnradio}1">radio 1</label>

  <input type="radio" class="btn-check" id="${2:btnradio}2" name="${2:btnradio}" autocomplete="off">
  <label class="btn btn-outline-primary" for="${2:btnradio}2">radio 2</label>

  <input type="radio" class="btn-check" id="${2:btnradio}3" name="${2:btnradio}" autocomplete="off">
  <label class="btn btn-outline-primary" for="${2:btnradio}3">radio 3</label>
</div>