.btn-group{'aria-label': '$1', role: 'group'}
  %input.btn-check{autocomplete: 'off', id: '${2:btncheck}1', name: '${2:btncheck}1', type: 'checkbox'}
  %label.btn.btn-outline-primary{for: '${2:btncheck}1'} Checkbox 1

  %input.btn-check{autocomplete: 'off', id: '${2:btncheck}2', name: '${2:btncheck}2', type: 'checkbox'}
  %label.btn.btn-outline-primary{for: '${2:btncheck}2'} Checkbox 2

  %input.btn-check{autocomplete: 'off', id: '${2:btncheck}3', name: '${2:btncheck}3', type: 'checkbox'}
  %label.btn.btn-outline-primary{for: '${2:btncheck}3'} Checkbox 3
