.card{style: "background-color:${1:cadetblue}; border-color:${2:darkblue};"}
  %img.card-img-top{alt: "$4", src: "${3:holder.js/100x180/}"}/
  .card-body
    %h4.card-title ${5:Title}
    %p.card-text ${6:Text}
