.card{class: 'border-${1|primary,secondary,success,danger,warning,info,light,dark,link|}'}
  %img.card-img-top{alt: '$3', src: '${2:holder.js/100px180/}'}/
  .card-body
    %h4.card-title ${4:Title}
    %p.card-text ${5:Text}
