.row
  .col-${1|md,xs,sm,lg,xl|}-${2|1,2,3,4,5,6,7,8,9,10,11,12|}
    .card
      .card-body
        %h3.card-title ${3:Title}
        %p.card-text ${4:Text}

  .col-${5|md,xs,sm,lg,xl|}-${6|1,2,3,4,5,6,7,8,9,10,11,12|}
    .card
      .card-body
        %h3.card-title ${7:Title}
        %p.card-text ${8:Text}
