.card-group
  .card
    %img.card-img-top{alt: "${2:Card image cap}", "data-src": "${1:holder.js/100x180/}"}/
    .card-body
      %h4.card-title ${3:Title}
      %p.card-text ${4:Text}
  .card
    %img.card-img-top{alt: "${6:Card image cap}", "data-src": "${5:holder.js/100x180/}"}/
    .card-body
      %h4.card-title ${7:Title}
      %p.card-text ${8:Text}
