.card
  %img.card-img-top{alt: '${2:Card image cap}', 'data-src': '${1:holder.js/100x180/?text=Image cap}'}/
  .card-body
    %h4.card-title ${3:Title}
    %p.card-text ${4:Text}
  .card-body
    %a.card-link{href: '${6:#}'} ${5:Card link}
    %a.card-link{href: '${8:#}'} ${7:Another link}
