.card
  .card-body
    %h4.card-title ${1:Title}
    %h6.card-subtitle.text-muted ${2:Subtitle}
  %img{alt: '$4', src: '${3:holder.js/100x180/}'}/
  .card-body
    %p.card-text ${5:Text}
    %a.card-link{href: '${7:#}'} ${6:Link 1}
    %a.card-link{href: '${9:#}'} ${8:Link 2}
