.btn-group.dropup
  %button.btn.btn-secondary{type: "button"} ${1:Split dropup}
  %button.btn.btn-secondary.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
    %span.sr-only Toggle Dropdown
  .dropdown-menu
    %a.dropdown-item{href: "${3:#}"} ${2:Action}
    %a.dropdown-item.disabled{href: "${5:#}"} ${4:Disabled action}
    %h6.dropdown-header ${6:Section header}
    %a.dropdown-item{href: "${8:#}"} ${7:Action}
    .dropdown-divider
    %a.dropdown-item{href: "${10:#}"} ${9:After divider action}
