.progress
  .progress-bar{'aria-valuemax': '${3:100}', 'aria-valuemin': '${2:0}', 'aria-valuenow': '${4:25}', class: 'bg-${5|primary,secondary,success,danger,warning,info,light,dark|}', role: 'progressbar', style: 'width: ${4:25}%;'} ${1:Description}
