.text-xs-center{id: '${2:progressId}'} ${1:Description}
%progress.progress{'aria-describedby': '${2:progressId}', max: '${3:100}', value: '$4'}
  .progress
    %span.progress-bar{style: 'width: $5%;'}
