%dl.row
  %dt.col-sm-3 $1
  %dd.col-sm-9 $2
  %dt.col-sm-3 $3
  %dd.col-sm-9 $4
  %dd.col-sm-9.offset-sm-3 $5
  %dt.col-sm-3.text-truncate $6
  %dd.col-sm-9 $7
  %dt.col-sm-3
  %dd.col-sm-9
    %dl.row
      %dt.col-sm-4 ${8:Nested title}
      %dd.col-sm-8 ${9:Nested definition}
