<div class="accordion" id="${1:accordion}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="${2:accordion-1-head}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${3:accordion-1-collapse}" aria-expanded="true" aria-controls="${3:accordion-1-collapse}">
        ${4:Item 1}
      </button>
    </h2>
    <div id="${3:accordion-1-collapse}" class="accordion-collapse collapse show" aria-labelledby="${2:accordion-1-head}" data-bs-parent="#${1:accordion}">
      <div class="accordion-body">
        $5
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="${2:accordion-2-head}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${3:accordion-2-collapse}" aria-expanded="true" aria-controls="${3:accordion-2-collapse}">
        ${6:Item 2}
      </button>
    </h2>
    <div id="${3:accordion-2-collapse}" class="accordion-collapse collapse show" aria-labelledby="${2:accordion-2-head}" data-bs-parent="#${1:accordion}">
      <div class="accordion-body">
        $7
      </div>
    </div>
  </div>
</div>
