.btn-group{'data-toggle': 'buttons'}
  %label.btn.active{class: 'btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}'}
    %input{autocomplete: 'off', checked: 'checked', id: '$3', name: '$3', type: 'checkbox'}>/
    $2
  %label.btn{class: 'btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}'}
    %input{autocomplete: 'off', id: '$5', name: '$5', type: 'checkbox'}>/
    $4
  %label.btn{class: 'btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}'}
    %input{autocomplete: 'off', id: '$7', name: '$7', type: 'checkbox'}>/
    $6
