.btn-group{'data-toggle': 'buttons'}
  %label.btn.active.btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}
    %input{autocomplete: 'off', checked: 'checked', name: '$2', id: '$2-1', type: 'radio'}
    $3
  %label.btn.btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}
    %input{autocomplete: 'off', name: '$2', id: '$2-2', type: 'radio'}
    $4
  %label.btn.btn-${1|primary,secondary,success,danger,warning,info,light,dark,link|}
    %input{autocomplete: 'off', name: '$2', id: '$2-3', type: 'radio'}
    $5
