%p
  %button.btn.btn-primary{'aria-controls': '${2:contentId}', 'aria-expanded': 'false', 'data-target': '\#${2:contentId}', 'data-toggle': 'collapse', type: 'button'}
    ${1:Show}
.collapse{id: '${2:contentId}'}
  $3
