.input-group
  %span.input-group-btn
    %button.btn.btn-secondary{'aria-label': '$2', type: 'button'} ${1:Action}
  %input.form-control{'aria-label': '$6', id: '${5:name}', name: '${5:name}', placeholder: '$3', type: '${4:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
