.input-group
  %span.input-group-addon
    %input{'aria-label': '$3', id: '${2:name}', name: '${2:name}', type: '${1:checkbox|radio}'}/
  %input.form-control{'aria-label': '$7', id: '${6:name}', name: '${6:name}', placeholder: '$4', type: '${5:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
