.input-group{class: 'input-group-${1:sm|lg}'}
  %span.input-group-addon{id: '${3:prefixId}'} ${2:prefix}
  %input.form-control{'aria-describedby': '${3:prefixId}', id: '${6:name}', name: '${6:name}', placeholder: '${4:placeholder}', type: '${5:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
