.input-group
  %span.input-group-addon{id: "${2:prefixId}"} ${1:prefix}
  %input.form-control{"aria-describedby": "${2:prefixId}", id: "${5:name}", name: "${5:name}", placeholder: "$3", type: "${4:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}"}/
