.input-group
  %span.input-group-addon ${1:prefix}
  %input.form-control{id: '${4:name}', name: '${4:name}', placeholder: '${2:placeholder}', type: '${3:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
  %span.input-group-addon ${5:sufix}
