.input-group
  %input.form-control{'aria-describedby': '${5:sufixId}', id: '${3:name}', name: '${3:name}', placeholder: '${1:placeholder}', type: '${2:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
  %span.input-group-addon{id: '${5:sufixId}'} ${4:sufix}
