%ul.nav{class: 'nav-${1:tabs|pills} ${2:nav-stacked}'}
  %li.nav-item
    %a.nav-link.active{href: '${4:#}'} ${3:Active}
  %li.nav-item
    %a.nav-link{href: '${6:#}'} ${5:Link}
  %li.nav-item.disabled
    %a.nav-link{href: '#'} ${7:Disabled}
