.list-group
  %a.list-group-item.list-group-item-action.active{class: "list-group-item-${3|primary,secondary,success,danger,warning,info,light,dark|}", href: "${2:#}"} ${1:Active item}
  %a.list-group-item.list-group-item-action{class: "list-group-item-${6|primary,secondary,success,danger,warning,info,light,dark|}", href: "${5:#}"} ${4:Item}
  %a.list-group-item.list-group-item-action.disabled{class: "list-group-item-${9|primary,secondary,success,danger,warning,info,light,dark|}", href: "${8:#}"} ${7:Disabled item}
