<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#${1:offcanvas}"
  aria-controls="${1:offcanvas}"
>
  ${2:Open Offcanvas}
</button>

<div
  class="offcanvas offcanvas-${3|start,end,top,bottom|}"
  tabindex="-1"
  id="${1:offcanvas}"
  aria-labelledby="${1:offcanvas}-label"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="${1:offcanvas}-label">${3:Offcanvas}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>${4:Some text as placeholder.}</div>
  </div>
</div>
