%table.table
  %thead
    %tr
      %th $1
      %th $2
      %th $3
  %tbody
    %tr
      %td{scope: "row"} $4
      %td $5
      %td $6
    = succeed "$END$" do
      %tr
        %td{scope: "row"} $7
        %td $8
        %td $9
